replicaCount: 1
namespace: home-assistant
image:
  repository: homeassistant/home-assistant
  tag: "latest" # Update as needed

service:
  type: ClusterIP
  port: 8123

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    cpu: "250m"
    memory: "256Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

backup:
  tokenSecretName: homeassistant-token
  enabled: true
